body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .introducao {
    height: 100vh; 
    background-image: url('imagem/Testee.jpg.jpg');/* caminho de imagen*/
    background-size: cover; 
    background-position: center; /* Para o centro*/
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centralizar conteúdo verticalmente */
    align-items: center;
    text-align: center; 
  }
  
  h1 {
    font-size: 36px;
    color: #000000; 
  }
  
  p {
    font-size: 18px;
    color: #050101; 
    margin-top: 20px; /* Espaçamento entre o título e o parágrafo */
  }
  